<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IWcfService">
            <security mode="None" />
          </binding>
        </netTcpBinding>
      </bindings>
      <behaviors>
        <serviceBehaviors>
          <behavior name="DefaultServiceBehavior">
            <serviceMetadata httpGetEnabled="false" />
            <serviceDebug includeExceptionDetailInFaults="false" />
            <serviceThrottling maxConcurrentCalls="96" maxConcurrentSessions="600" maxConcurrentInstances="696" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <client>
        <endpoint address="net.tcp://localhost:12906/WcfCallbacks/WcfService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfService"
          contract="WcfService.IWcfService" name="NetTcpBinding_IWcfService" />
      </client>
    </system.serviceModel>
</configuration>